# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# SQLite database (اختياري حسب المشروع)
*.db
*.sqlite3

# VS Code settings
.vscode/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Logs
*.log

# MacOS
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore dataset cache if using ir_datasets
ir_datasets_cache/

vector_store/*
vector_store_bm25/*
vector_store_faiss/*
vector_store_inverted/*
vector_store_word2vec/*
data/ir_data.db